/* Container */
.login-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

/* Background Video */
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

/* Overlay (gelap supaya form jelas) */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.login-card-wrap {
  width: 95%;
  display: flex;
  justify-content: end;
}

.login-card-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* background-color: red; */
  height: 100vh;
  justify-content: space-around;
  align-items: end;
}

/* Card Glassmorphism */
.login-card {
  background: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  padding: 30px 30px 30px 30px;
  box-shadow: 0 8px 32px rgba(255, 255, 255, 0.2);
  color: #272727;
  text-align: left;
  width: 340px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: -5px;
}

/* Form Styling */
.login-card form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
}
.login-logo {
  /* position: absolute; */
  /* top: 30px;  */
  /* right: 60px;  */
  width: 310px;
  height: auto;
  /* z-index: 10;  */
}

/* .input-wrapper {
  position: relative;
  width: 100%;
} */

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  background-color: #fff;
  padding: 12px;
  height: 50px;
  border-radius: 10px;
  box-sizing: border-box;
}

/* .input-wrapper .icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #272727;
} */

.input-wrapper input {
  outline: none;
  border: none;
  box-sizing: border-box;
  font-size: 16px;
  color: #272727;
  width: 100%;
  height: 100%;
}

.login-card h2 {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #ffff;
}

.login-card h4 {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-top: -20px;
  color: #c4c4c4;
}

.login-card input::placeholder {
  color: #dddddd;
  font-weight: 600;
}

.login-card button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #d03d3d;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: background 0.3s;
  height: 52px;
  margin-top: 5px;
}

.login-card button:hover {
  background: #8d0b23;
}

.siriuslight-text {
  color: rgba(255, 255, 255, 1);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  font-style: italic;
}
