/* --- CONTAINER --- */
.login-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

/* Background Video */
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

/* --- LAYOUT WRAPPER --- */
.login-card-wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  padding: 0 40px 0;
  box-sizing: border-box;
}

.login-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;

}

/* --- LOGO --- */
.login-logo {
  width: 220px;
  height: auto;
  margin-top: 20px;
  margin-right: 10px;
}

/* --- LOGIN CARD --- */
.login-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 12px;
  padding: 32px;
  box-shadow: 0 8px 32px rgba(255, 255, 255, 0.1);
  color: #fff;
  text-align: left;
  width: 340px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Form */
.form-login {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
}

/* Input wrapper */
.input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #fff;
  padding: 12px;
  border-radius: 10px;
  height: 30px;
}

.input-wrapper .icon {
  color: #272727;
  font-size: 16px;
}

.input-wrapper input {
  outline: none;
  border: none;
  width: 100%;
  font-size: 16px;
  color: #272727;
}

/* Headings */
.login-card h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 28px;
  color: #fff;
}

.login-card h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: -10px;
  color: #ddd;
}

/* Button */
.login-card button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #d03d3d;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: background 0.3s;
  height: 52px;
  margin-top: 20px;
}

.login-card button:hover {
  background: #8d0b23;
}

/* --- TEXT BAWAH --- */
.siriuslight-text {
  color: rgba(255, 255, 255, 0.85);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  font-style: italic;
  margin-bottom: 25px;
  margin-right: 10px;
}

/* --- RESPONSIVE --- */
@media (max-width: 768px) {
  .login-card-wrap {
    justify-content: center;
  }

  .login-card-container {
    align-items: center;
  }

  .login-logo {
    width: 160px;
  }

  .login-card {
    width: 300px;
  }

  .siriuslight-text {
    font-size: 14px;
  }
}
